<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	android:versionCode="1" android:versionName="1.0" package="ioio.examples.hello">
	<uses-sdk android:minSdkVersion="9" />
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>

	<application android:icon="@drawable/icon" android:label="@string/app_name">
		<activity android:label="@string/app_name" android:name="MainActivity">
		<intent-filter>
		<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:label="IOIOStatus" android:name="StatusTest" />
		<activity android:label="IOIOInput" android:name="InputTest" />
		<activity android:label="Running Lights with Detection" android:name="BetterRunningLights" />
	</application>
</manifest>